
.whitebody{
	background-color:white;
}

.link { text-decoration: none; color:black; }
.link:visited { text-decoration: none; }
.link:hover { text-decoration: none; }
.link:focus { text-decoration: none; }
.link:hover, a:active { text-decoration: none; }

.lsidehead {
	float:left;
	width:50%;

}

.pagenav{
	list-style-type: none;
}

.pnav{
	display:inline-block;
	font-size:1.5em;
	padding:.2%;
}

.pnav a{
	text-decoration: none;
}

.smnrow{
	display:none;
}

.pnav:hover {
	color:gray;
}

.sbox {
	width:50%;
	float:left;
	padding:2px;
	box-sizing:border-box;
	background-color:white;
}

.hitem{
	width:80%;
	height:80%;
	padding:10%;
	margin:0;
	border-radius:50%;
	z-index:9000;
	position:relative;
}

.hlabel{
	text-align:center;
	font-size:2em;
	position:absolute;
	margin-top:-27%;
	margin-left:18%;
	z-index:1;
}

.minihlabel{
	margin-left:20%;
}

.hitem:hover{
	opacity:.5;
}

.imggal{
	float:left;
	width:12.5%;
	box-sizing:border-box;
	padding:1%;
}

.shopbox{
	height:16%;
	width:25%;
	padding:2%;
	box-sizing:border-box;
	display:inline;
}

.smitem{
	background-color:white;
}

.ssmitem{
	position:absolute;
	border:top:-10%;
}

.item{
	box-sizing:border-box;
	float:left;
	width:50%;
	padding:1%;
}

#itemdiv{
	box-sizing:border-box;
	float:left;
	width:10%;
}

.nrow{
	box-sizing:border-box;
}

.nrow::after {
    content: "";
    clear: both;
    display: block;
}

.catbox{
	width:33.3333%;
	box-sizing:border-box;
	float:left;
	padding:10px;
}

.catitem{
	border-radius:50%;
	height:90%;
	width:90%;
	align: center;
	margin-left:5%;
}

.catitem:hover{
	opacity:.5;
}

.nshopbox{
	box-sizing:border-box;
	width:25%;
    float: left;
    padding: 15px;
}

.shopimg{
	max-width:100%;
	max-height:100%;
	padding:0;
	margin:0;
}

.titleimg{
	max-width:100%;
	max-height:100%;
	padding:0;
	margin:0;
}

.shopimg:hover{
	opacity:.5;
}

.titleimg:hover{
	opacity:1;
}

.tshop{
	margin-top:-1%;
	text-align:center;
	font-size:1.45em;
}

.dshop{
	margin-top:-1%;
	text-align:center;
	font-size:1em;
	vertical-align:middle;
}

#bottominfo{
	margin-top:0;
}

.linebreak{
	display:none;
}

.labstitle{
	display:inline;
	position:absolute;
	margin-top:-25%;
	margin-left:-9%;
	font-size:4vw;
}

.rabstitle{
	display:inline;
	position:absolute;
	margin-top:-25%;
	margin-left:9.5%;
	font-size:4vw;
}

.labs{
	float:left;
	width:50%;
}
.rabs{
	float:right;
	width:50%;
}

.lsmalllabel{
	display:none;
}

.rsmalllabel{
	display:none;
}

.dropbtn{
	display:none;
}

.dropdown-content {
	display:none;
}

.dropdown {
	display:none;
}

.bar{
	list-style-type: none;
	}
	
li .nav{
	margin-top:1%;
	float:left;
	border-radius: 20px;
	color:white;
	margin-left:1%;
	text-decoration: none;
	padding:8px;
	font-size:120%;
}

li a:hover {
	background-color: #808080;
}

li .nav:hover{
	background-color: #808080;
}

.sdropbtn{
	background-color: black;
	color:white;
	padding:16px;
	font-size:1em;
	cursor:pointer;
	display:block;
}

.sdropdown {
	float:left;
	display:inline-block;
}

.sdropdown-content {
	display:none;
	position:absolute;
	background-color:black;
	min-width:160px;
	box-shadow:0px 8px 16px 0px rgba(0,0,0,0,.2);
}

.sdropdown-content a {
	color:white;
	padding:12px 16px;
	text-decoration:none;
	display:block;
}

.sdropdown-content a:hover{
	background-color: gray;
}

.sdropdown:hover .dropdown-content {
	display:block;
}

.sdropdown:hover .dropbtn {
	background-color:gray;
}

.nav .active {
    background-color:#808080;
}
	
#title {
	text-decoration: none;
	color:white;
	font-size:2em;
	margin-top:5%;
	float:right;
	margin-right:16%;
}

#logo {
	float: left;
	height: 15%;
	width:12.5%;
	margin-top:1.5%;
}

#back{
	height:100%;
	width:110%;
	margin-left: -50px;
	margin-top:6%;
}

header {
	position:fixed;
	background-color:black;
	width:105%;
	margin-left: -10px;
	top: 0;
	z-index:9999;
}

footer {
	background-color:black;
	color:white;
	padding:0px;
}

.email{
	color:white;
}

.email_form{
	background-color:black;
	display:block;
	margin:0;
	padding:0;
}

.smhtitle{
	display:none;
}

/* @media Rule */
@media all and (min-width: 670px) and (max-width:880px) {
	
	#title {
		font-size:1.5em;
		float: left;
		margin-right:0%;
		margin-left:5%;
	}
	
	.lsidehead {
		width:38%;
	}
	
	li .nav {
		margin-top:.02%;
		font-size:110%;
	}
	
	.hlabel{
		margin-left:15%;
	}
	
	.minihlabel{
		margin-left:18%;
	}
}



@media all and (min-width: 495px) and (max-width:670px){
	
	#title {
		display:none;
	}
	
	.smnrow{
		display:block;
		box-sizing:border-box;
	}
	
	.smimggal{
		float:left;
		width:25%;
		box-sizing:border-box;
		padding:1%;
	}
	
	.lsidehead{
		width:15%;
	}
	
	#logo {
		height: 90%;
		width: 80%;
	}
	
	.nrow{
		display:none;
	}
	
	.smnrow{
		box-sizing:border-box;
	}

	.smnrow::after {
	    content: "";
	    clear: both;
	    display: block;
	}
	
	.smcatbox{
		display:block;
		width:50%;
		box-sizing:border-box;
		float:left;
		padding:10px;
	}
	
	.smhtitle{
		position:absolute;
		margin-left:37.5%;
		text-align:center;
		margin-top:-55%;
		display:block
	}
	
	.vsm{
		margin-left:41%;
	}
}

@media all and (min-width: 0px) and (max-width:495px){

	.nrow{
		display:none;
	}
	
	.smhtitle{
		display:block;
		position:absolute;
		margin-left:30%;
		text-align:center;
		margin-top:-55%;
	}
	
	.vsm{
		margin-left:37%;
	}
	
	.smnrow{
		display:block;
		box-sizing:border-box;
	}
	
	.smimggal{
		float:left;
		width:25%;
		box-sizing:border-box;
		padding:1%;
	}

	.smnrow::after {
	    content: "";
	    clear: both;
	    display: block;
	}
	
	.smcatbox{
		display:block;
		width:50%;
		box-sizing:border-box;
		float:left;
		padding:10px;
	}

	.linebreak{
		display:block;
	}
	
	#smglass{
		margin-left:9%;
	}
	
	#smceramics{
		margin-left:-11%;
	}
	.labs{
		display:none;
	}
	.rabs{
		display:none;
	}
	
	.rabstitle{
		display:none;
	}
	
	.labstitle{
		display:none;
	}
	
	.lsmalllabel{
		display:inline-block;
		font-size:4vw;
		position:absolute;
		margin-left:16%;
		margin-top:-32%;
	}
	
	#othersmalllabel{
		margin-left:-6.5%;
		
	}
	
	.rsmalllabel{
		display:inline-block;
		font-size:4vw;
		position:absolute;
		margin-left:-12%;
		margin-top:-30%;
	}
	
	.homeitem {
		height:50%;
		width:50%;
		padding:5%;
	}
	
	#title {
		font-size:1.1em;
		float:right;
		display:flex;
	}
	.lsidehead{
		width:70%;
	}
	
	#logo {
		height: 20%;
		width: 16%;
	}
	
	.dropbtn{
		background-color: black;
		color:white;
		padding:16px;
		font-size:1em;
		border:none;
		cursor:pointer;
		display:block;
	}
	
	.dropdown {
		float:left;
		display:inline-block;
	}
	
	.dropdown-content {
		display:none;
		position:absolute;
		background-color:black;
		min-width:160px;
		box-shadow:0px 8px 16px 0px rgba(0,0,0,0,.2);
	}
	
	.dropdown-content a {
		color:white;
		padding:12px 16px;
		text-decoration:none;
		display:block;
	}
	
	.dropdown-content a:hover{
		background-color: gray;
	}
	
	.dropdown:hover .dropdown-content {
		display:block;
	}
	
	.dropdown:hover .dropbtn {
		background-color:gray;
	}
	
	.bar{
		display:none;
	}
	
}

/* @import Rule */
@import url(styles.css) all and (max-width: 1024px) {...}